body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header{
  width:100%;
  height:520px;
  background-image:url("./images/header-image.png");
}

.header-icons {
  display: flex;
  position: absolute;
  top: 48px;
  right: 24.5px;
}

.circle {
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 6px;
}

.social-link {
  color: white;
}

.header-text-container {
  position: absolute;
  top: 121px;
  left: 24px;
}

.header-name {
  font-family: 'Roboto';
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 0;
}

.header-title {
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.header-underscore {
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.header-profile-image {
  position: absolute;
  top: 356px;
  right: 24px;
  bottom: -16px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}

.portfolio-section:nth-child(2n) {
  background-color: #F4F4F4;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.sections-heading {
	background-color: #fa382f;
  font-size: 22px;
  font-weight: bold;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 3px;
}

.heading-container {
  display: flex;
  justify-content: center;
}

.image-container {
  position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(43, 89, 226, 0.5);
}

.image {
	width: 100%;
	display: block;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}