:root {
  --primary-color: #287739;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.bold-style {
  font-weight: 700;
}

.line {
    border: 1px solid var(--primary-color);
    width: 40px;
    display: inline-block;
    margin-bottom: 4px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    margin-left: -4px;
    margin-right: 10px;
}

.portfolio-section:nth-child(2n) {
  background-color: #F4F4F4;
}

.container {
  width: 320px;
  margin: 0 auto;
  overflow: auto;
}

.header-container {
  position: relative;
  width: 375px;
  margin: 0 auto;
}

header{
  position: relative;
  width:100%;
  height:520px;
  background-image:url("./images/header-image.png");
}

.header-icons {
  display: flex;
  position: absolute;
  top: 48px;
  right: 24.5px;
}

.circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 6px;
}

.circle-big {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  margin-left: 6px;
}

.social-link {
  color: white;
  font-size:24px;
}

.social-link-big {
  color: var(--primary-color);
  font-size:24px;
}

.header-text-container {
  position: absolute;
  top: 121px;
  left: 24px;
  height: 202px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.header-name {
  font-family: 'Roboto';
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 18px;
  letter-spacing: 0.04em;
}

.header-title {
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 49px;
}

.header-underscore {
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 40px;
}

.header-profile-image {
  position: absolute;
  top: 356px;
  right: 24px;
  bottom: -16px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
}

.intro-text {
  margin-top: 49px;
  margin-bottom: 43px;
}

.sections-heading {
	background-color: var(--primary-color);
  font-size: 22px;
  font-weight: bold;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-left: 3px;
  padding-right: 3px;
}

.heading-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(49, 73, 139, 0.4);
}

.overlay-text {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: white;
}

.image {
	width: 100%;
	display: block;
}

.project-heading {
  font-family: 'roboto';
  font-weight: bold;
  color: var(--primary-color);
  font-size: 17px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.project-second-heading {
  font-family: 'Montserrat';
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 25px;
}

.article-text {
  margin-top: 0;
  font-family: Roboto;
  font-size: 17px;
  line-height: 29px;
  margin-bottom: 0;
}

.code-tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 0;
}

.code-tag-text {
  font-family: 'Roboto';
  font-size: 9px;
  line-height: 11px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  background-color:  #b7fbc2;
  padding: 6px;
  margin-right: 8px;
}

.thoughts-date {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 17px;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 30px;
}

.thoughts-header {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.links {
  text-decoration-color: black;
  display: block;
  margin-bottom: 24px;
}

.thoughts-link {
  color: black;
  font-family: 'Roboto';
  font-weight: 700;
}

.skill-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-bottom: 40px;
}

.skill-list {
  font-family: 'Roboto';
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 29px;
  padding-top: 6px;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: var(--primary-color);
}

.footer-header {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-container {
    width: 768px;
  }

  .line {
    width: 60px;
  }
}