body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #28853c;
  --secondary-color: rgb(141, 197, 133);
  --paragraph-line-height: 25px;
  --big-text: 40px;
  --big-line-height: 48px;
  --medium-big-text: 24px;
  --medium-text: 24px;
  --medium-small-text: 17px;
  --small-text: 12px;
  --tiny-text: 9px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.bold-style {
  font-weight: 700;
}

.portfolio-section:nth-child(2n) {
  background-color: #f4f4f4;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.header-container {
  position: relative;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

/* image src: https://unsplash.com/photos/qzgN45hseN0 */
header {
  position: relative;
  width: 100%;
  height: 480px;
  background-image: linear-gradient(
      rgba(32, 32, 32, 0.5),
      rgba(32, 32, 32, 0.5)
    ),
    url("/src/assets/header-forest-small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-icons {
  display: flex;
  position: absolute;
  top: 48px;
  right: 24.5px;
}

.circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  margin-left: 6px;
}

.social-link {
  color: white;
  font-size: var(--medium-text);
  text-decoration: none;
}

.social-link:hover {
  color: var(--secondary-color);
}

.header-text-container {
  position: absolute;
  top: 121px;
  left: 24px;
  height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-name {
  font-family: "Roboto";
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 18px;
  letter-spacing: 0.04em;
}

.header-title {
  color: white;
  font-weight: 700;
  font-size: var(--big-text);
  margin: 0;
  padding: 0;
  line-height: var(--big-line-height);
}

.header-underscore {
  color: white;
  font-weight: 700;
  font-size: var(--medium-text);
  margin: 0;
  padding: 0;
  line-height: 40px;
}

.color {
  color: var(--secondary-color);
}

.header-profile-image {
  position: absolute;
  top: 326px;
  right: 24px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
}

.line {
  border: 1px solid var(--primary-color);
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  margin-left: -4px;
  margin-right: 10px;
}

.intro-text {
  line-height: var(--paragraph-line-height);
  margin-top: 75px;
  margin-bottom: 43px;
}

.tech-text {
  line-height: var(--paragraph-line-height);
  margin-bottom: 43px;
}

.sections-heading {
  background-color: var(--primary-color);
  font-size: var(--medium-text);
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-left: 3px;
  padding-right: 3px;
}

.heading-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.color-2 {
  color: var(--primary-color);
}

.image-container {
  position: relative;
  margin-bottom: 15px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background: rgba(19, 29, 54, 0.4);
}

.overlay:hover {
  background: none;
}

.overlay-text {
  font-size: var(--medium-text);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: white;
}

.overlay:hover .overlay-text {
  color: rgba(0, 0, 0, 0);
}

.image {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  display: block;
  object-fit: cover;
  object-position: 0 0;
}

.project-heading,
.project-heading-underline {
  font-family: "roboto";
  font-weight: bold;
  color: var(--primary-color);
  font-size: var(--medium-small-text);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.project-second-heading {
  font-family: "Montserrat";
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--medium-text);
  line-height: 25px;
}

.article-text,
.article-text-underline {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: var(--medium-small-text);
  line-height: var(--paragraph-line-height);
  color: black;
  text-decoration-color: black;
}

.code-tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.code-tag-text {
  font-family: "Roboto";
  font-size: var(--tiny-text);
  line-height: 11px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  background-color: #b7fbc2;
  border-radius: 5px;
  padding: 5px;
  margin-right: 6px;
}

.other-link {
  text-decoration: none;
}

.heading-big-screen {
  display: none;
}

.thoughts-container article:last-child {
  display: none;
}

.thoughts-date,
.thoughts-date-underline {
  font-family: "Roboto";
  font-weight: 400;
  font-size: var(--medium-small-text);
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 30px;
}

.thoughts-header {
  font-family: "Roboto";
  font-weight: 700;
  font-size: var(--medium-text);
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.links {
  text-decoration-color: black;
  display: block;
  margin-bottom: 24px;
}

.thoughts-link {
  color: black;
  font-family: "Roboto";
  font-weight: 700;
}

.skill-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-bottom: 40px;
}

.skill-list {
  font-family: "Roboto";
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: var(--medium-small-text);
  line-height: 29px;
  padding-top: 6px;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-big {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  margin-left: 6px;
}

.social-link-big {
  color: var(--primary-color);
  font-size: var(--medium-text);
  text-decoration: none;
}

.social-link-big:hover {
  color: var(--secondary-color);
  font-size: var(--medium-big-text);
}

.social-link-big:hover .circle-big {
  border-color: var(--secondary-color);
}

.social-link-big:hover .social-heading {
  color: var(--secondary-color);
  font-size: var(--small-text);
}

.social-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: var(--small-text);
  line-height: 13px;
  color: var(--primary-color);
}

.footer {
  height: 302px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-header {
  font-size: var(--medium-text);
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.footer-paragraph {
  color: white;
  font-size: var(--medium-small-text);
  line-height: 10px;
  text-align: center;
}

@media (min-width: 640px) {
  header {
    height: 500px;
    background-image: linear-gradient(
        rgba(32, 32, 32, 0.5),
        rgba(32, 32, 32, 0.5)
      ),
      url("/src/assets/header-forest-medium.jpg");
  }

  .header-icons {
    top: 80px;
    right: 0px;
  }

  .circle {
    width: 70px;
    height: 70px;
  }

  .header-text-container {
    position: absolute;
    top: 120px;
    left: 0px;
    height: 339px;
  }

  .header-name {
    line-height: 37px;
  }

  .header-title {
    line-height: 70px;
  }

  .header-underscore {
    line-height: 50px;
  }

  .header-profile-image {
    top: 270px;
    right: 0px;
    width: 250px;
    height: 250px;
  }

  .line {
    width: 80px;
  }

  .dot {
    margin-left: -10px;
  }

  .intro-text {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .tech-text {
    margin-bottom: 80px;
  }

  .sections-heading {
    padding-left: 8px;
    padding-right: 8px;
  }

  .heading-container {
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .main-projects,
  .thoughts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 44px;
  }

  .project-second-heading {
    line-height: 47px;
  }

  .article-text {
    line-height: 30px;
  }

  .code-tag-text {
    margin-top: 6px;
  }

  .project-heading-underline {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
  }

  .article-text-underline {
    line-height: 30px;
    display: inline;
    text-decoration: underline;
  }

  .heading-big-screen {
    display: inline;
  }

  .thoughts-container article:last-child {
    display: inline;
  }

  .thoughts-date-underline {
    text-decoration: underline;
  }

  .social-container {
    margin-bottom: 100px;
  }

  .circle-big {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .social-heading {
    line-height: 41px;
  }

  .footer {
    height: 470px;
  }
}

@media (min-width: 1200px) {
  header {
    height: 668px;
    background-image: linear-gradient(
        rgba(32, 32, 32, 0.5),
        rgba(32, 32, 32, 0.5)
      ),
      url("/src/assets/header-forest-big.jpg");
  }

  .header-icons {
    top: 102px;
    right: 0px;
  }

  .circle {
    width: 80px;
    height: 80px;
    margin-left: 6px;
  }

  .header-text-container {
    position: absolute;
    top: 206px;
    left: 0px;
    height: 339px;
  }

  .header-name {
    line-height: 37px;
  }

  .header-title {
    line-height: 100px;
  }

  .header-underscore {
    line-height: 78px;
  }

  .header-profile-image {
    top: 378px;
    right: 0px;
    bottom: -16px;
    width: 333px;
    height: 333px;
  }

  .intro-text {
    line-height: 50px;
    margin-bottom: 109px;
    margin-top: 120px;
  }

  .tech-text {
    line-height: 50px;
    margin-bottom: 109px;
  }

  .sections-heading {
    padding-left: 8px;
    padding-right: 8px;
  }

  .heading-container {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .main-projects,
  .thoughts-container {
    grid-column-gap: 54px;
  }

  .project-second-heading {
    line-height: 47px;
  }

  .article-text {
    line-height: 41px;
  }

  .article-text-underline {
    line-height: 41px;
  }

  .skill-list-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .social-container {
    margin-bottom: 100px;
  }

  .circle-big {
    width: 160px;
    height: 160px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .social-heading {
    line-height: 41px;
  }

  .footer {
    height: 570px;
  }
}
